.app_image{
    padding-top: 150px;
    
    padding-left: 10px;
    padding-right: 100px;
    width: 1800px;
    height: 500px;
    margin-bottom: 50px;
    margin-top:50px;
    top:90%;
  
    

   
  
    
}

